<header class="container m-auto max-w-lg">
  <nav class="flex items-center justify-center py-4">
    <a href="/">home</a>
    <a href="/about">about</a>
    <a href="/work">work</a>
  </nav>
</header>
