---
import MenuButton from './MenuButton.astro'
---

<header
  class="fixed left-0 top-0 z-10 flex w-full items-center justify-center border-b border-solid border-b-white/[0.05] py-2 drop-shadow-lg backdrop-blur-sm"
>
  <nav class="flex items-center justify-center">
    <MenuButton title="Home" href="/" />
    <MenuButton title="About" href="/about" />
    <MenuButton title="Work" href="/work" />
  </nav>
</header>
